useDynLib(clpAPI)

export(
addColsCLP,
addRowsCLP,
chgColLowerCLP,
chgColUpperCLP,
chgObjCoefsCLP,
chgRowLowerCLP,
chgRowUpperCLP,
delColsCLP,
deleteColsCLP,
deleteRowsCLP,
delProbCLP,
delRowsCLP,
dualCLP,
getColDualCLP,
getColLowerCLP,
getColPrimCLP,
getColUpperCLP,
getIndCLP,
getLogLevelCLP,
getNnzCLP,
getNumColsCLP,
getNumNnzCLP,
getNumRowsCLP,
getObjCoefsCLP,
getObjDirCLP,
getObjValCLP,
getRowDualCLP,
getRowLowerCLP,
getRowPrimCLP,
getRowUpperCLP,
getScaleFlagCLP,
getSolStatusCLP,
getVecLenCLP,
getVecStartCLP,
idiotCLP,
initProbCLP,
loadMatrixCLP,
loadProblemCLP,
primalCLP,
printModelCLP,
readMPSCLP,
resizeCLP,
restoreModelCLP,
return_codeCLP,
saveModelCLP,
scaleModelCLP,
setLogLevelCLP,
setObjDirCLP,
solveInitialBarrierCLP,
solveInitialBarrierNoCrossCLP,
solveInitialCLP,
solveInitialDualCLP,
solveInitialPrimalCLP,
status_codeCLP
)

